
.submitForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
}

.inputGroup label {
    color: #828282;
    min-width: 30px;
    padding-right: 20px;
}

.inputGroup input {
    min-width: 400px;
}

.inputGroup textarea {
    min-width: 400px;
    min-height: 80px;
}

.submitButton {
    margin-left: 60px;
}